*{margin:0;padding:0;}

body {
font-size:100%;
Font-family:"Arial","ËÎÌå","ºÚÌå","Microsoft YaHei",sans-serif;
}

div#background
{
position:absolute;
width:100%;
height:100%;
background-color:rgb(215,209,209);
overflow:hidden;
}

div#barBackground
{
position:absolute;
width:100%;
height:10%;
left:0%;
top:0%;
boder:0px;
background-color:#FFFFFF;
filter:alpha(opacity=60);
opacity:0.6
}

div#topBar
{
position:absolute;
width:100%;
height:10%;
text-align:center;
line-height:15px;
font-size:2em;
font-weight:550;
overflow:hidden;
white-space:pre;
}
div#dialog1
{
position:absolute;
width:100%;
top:13%;
left:0%;
height:22%;
}
div#dialog2
{
position:absolute;
width:100%;
top:41%;
left:0%;
height:22%;
}
div#dialog3
{
position:absolute;
width:100%;
top:69%;
left:0%;
height:22%;
}

div.img
{
position:absolute;
width:10%;
top:10%;
left:4%;
height:80%;
background-color:white;
}

div.name
{
position:absolute;
width:10%;
top:94%;
left:4%;
text-align:center;
font-size:1em;
font-weight:normal;
overflow:hidden;
}

div.content
{
position:absolute;
width:72%;
top:2%;
left:16%;
height:96%;
background-color:rgb(253,253,253); 
border:solid 6px rgb(253,253,253);
-moz-border-radius: 6px; 
-webkit-border-radius: 6px; 
border-radius:6px;
}


p.text
{
margin-left:3%;
margin-right:3%;
height:100%;
width:94%;
line-height:150px;
text-align:center;
overflow:hidden;
font-size:1.8em;
font-weight:normal;
white-space:pre;
}

.animate1
{
animation: myfirst1 0.4s;
animation-fill-mode: forwards;

}

.animate2
{
animation: myfirst2 0.4s;
animation-fill-mode: forwards;

}

.animate3
{
animation: myfirst3 0.4s;
animation-fill-mode: forwards;
}
.animate4
{
animation: myfirst4 0.4s;
animation-fill-mode: forwards;
}
.animate5
{
animation: myfirst5 0.4s;
animation-fill-mode: forwards;
}
.animate6
{
animation: myfirst6 0.4s;
animation-fill-mode: forwards;
}

.imgInside
{
display:block;
width:100%;
height:100%;
}
@keyframes myfirst1
{
from   {left:0%; top:97%; }
to  {left:0%; top:69%; }
}

@keyframes myfirst2
{
from   {left:0%; top:41%;}
to  {left:0%; top:13%;}
}

@keyframes myfirst3
{
from   {left:0%; top:69%;}
to  {left:0%; top:41%;}
}

@keyframes myfirst4
{
from   {left:100%; top:13%;}
to  {left:0%; top:13%;}
}

@keyframes myfirst5
{
from   {left:0%; top:13%; }
to  {left:-100%; top:13%; }
}

@keyframes myfirst6
{
from   {left:0%; top:13%; }
to  {left:0%; top:13%; }
}
div#admin1
{
position:absolute;
width:100%;
top:13%;
left:105%;
height:22%;
}

div#adminName
{
font-weight:700;
font-size:1.2em;
}

div#adminContent
{
background-color:rgb(250,212,171);
border:solid 6px rgb(247,84,20);
-moz-border-radius: 6px; 
-webkit-border-radius: 6px; 
border-radius:6px;
}


p#adminText
{
font-size:2.1em;
font-weight:600;
}

span.topBlank
{
display:inline-block;
width:100%;
}

span.contentBlank
{
display:inline-block;
width:100%;
}